.modular{
    z-index: 2000;
    position: absolute;
    right: 0px;
    bottom: 130px;
    height: 560px;
    width: 330px;
    opacity: 1;
    box-shadow: -2px 2px 6px rgba(0,0,0,.3);
    -webkit-user-select: none;
    background-color:white;
    /*display: none;*/
}