.rbox {
    z-index: 2000;
    position: absolute;
    left: 15px;
    top: 60px;
    width: 345px;
    opacity: 1;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    -webkit-user-select: none;
    background-color: white;
    transition:height 1s;
}
.rboxShow{
    composes:rbox;
    height: 600px;
}
.rboxNone{
    composes:rbox;
    height: 0px;
}
.panCtrl{
    width: 100%;
    position: absolute;
    height: 24px;
    cursor: pointer;
    left: 0;
    overflow: hidden;
    text-align: center;
    background: url(../../../../static/img/panctrl.png) center center no-repeat;
    bottom: -20px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transform: translate(0,0);
    padding: 5px 40px;
    opacity: 0.7;
}
.faChevronUp:before {
    content: "\f077";
}
.faChevronDown:before {
    content: "\f078";
}