html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:#142736;
  position: absolute;
  overflow: hidden;
  font-family: 'Microsoft Yahei','Helvetica Neue',Helvetica,Arial,sans-serif;
}
a{
  text-decoration : none;
}
.animation-enter {
    opacity: 0;
}
.animation-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.animation-leave {
    opacity: 1;
}
.animation-leave-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}