.usel {
    -webkit-user-select: none;
    user-select: none;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
}   
.layerbox {
    composes:usel;
    position: absolute;
    top: 15px;
    left: calc(100% - 330px);
    z-index: 888;
    background: #fff;
    border-radius: 2px;
    padding: 5px 6px;
    cursor: move;
    height: 36px;
    width: 269px;
    font-family: 'Microsoft Yahei','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*layer_item*/
.layerItemSpan {
    float: left;
    cursor: pointer;
    display: inline-block;
    padding: 20px 10px 0;
    border-right: 1px #e5e5e5 solid;
}

.layerCtrl{
    composes:layerItemSpan;
    background: url(../../../static/img/layerCtrl.svg) no-repeat;
    background-position: 11px 0px;
}
.layerCtrl_active{
    composes:layerItemSpan;
    background: url(../../../static/img/layerCtrlActive.svg) no-repeat;
    background-position: 11px 0px;
}
.layerCtrl:hover{
    opacity: 0.6
}
.bookmark{
    composes:layerItemSpan;
    background: url(../../../static/img/bookMaker.svg) no-repeat;
    background-position: 15px 3px;
}
.bookmark_active{
    composes:layerItemSpan;
    background: url(../../../static/img/bookMakerActive.svg) no-repeat;
    background-position: 15px 3px;
}
.bookmark:hover{
    opacity: 0.6
}
.query{
    composes:layerItemSpan;
    background: url(../../../static/img/query.svg) no-repeat;
    background-position: 15px 3px;
}
.query_active{
    composes:layerItemSpan;
    background: url(../../../static/img/queryActive.svg) no-repeat;
    background-position: 15px 3px;
}
.query:hover{
    opacity: 0.6
}
.tool{
    composes:layerItemSpan;
    background: url(../../../static/img/tool.svg) no-repeat;
    background-position: 13px 0px;
}
.tool_active{
    composes:layerItemSpan;
    background: url(../../../static/img/toolActive.svg) no-repeat;
    background-position: 13px 0px;
}
.tool:hover{
    opacity: 0.6
}
.fullscreen{
    composes:layerItemSpan;
    background: url(../../../static/img/fullscreen.svg) no-repeat;
    background-position: 15px 3px;
}
.fullscreen:hover{
    opacity: 0.6
}
.more{
    float: left;
    cursor: pointer;
    display: inline-block;
    padding: 20px 10px 0;
    background: url(../../../static/img/more.svg) no-repeat;
    background-position: 15px 3px;
}
.moreActive{
    float: left;
    cursor: pointer;
    display: inline-block;
    padding: 20px 10px 0;
    background: url(../../../static/img/moreActive.svg) no-repeat;
    background-position: 15px 3px;
}
.more:hover{
    opacity: 0.6
}