.usel {
    -webkit-user-select: none;
    user-select: none;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
}   
.layerbox {
    composes:usel;
    position: absolute;
    top: 15px;
    left: calc(100% - 330px);
    z-index: 888;
    background: #fff;
    border-radius: 2px;
    padding: 5px 6px;
    cursor: move;
    height: 36px;
    width: 225px;
    font-family: 'Microsoft Yahei','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*layer_item*/
.layerItemSpan {
    float: left;
    height: 36px;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    padding: 20px 10px 0;
    border-right: 1px #e5e5e5 solid;
    background: url(../../../static/img/tools_layer_new.png) no-repeat;
}

.layerCtrl{
    composes:layerItemSpan;
    padding-top: 20px;
    background-position: 11px 4px;
}
.layerCtrl_active{
    composes:layerItemSpan;
    padding-top: 20px;
    background-position: 11px -45px;
}
.layerCtrl:hover{
    opacity: 0.6
}
.bookmark{
    composes:layerItemSpan;
    background-position: 11px -336px;
}
.bookmark_active{
    composes:layerItemSpan;
    background-position: 11px -530px;
}
.bookmark:hover{
    opacity: 0.6
}
.query{
    composes:layerItemSpan;
    background-position: 11px -142px;
}
.query_active{
    composes:layerItemSpan;
    background-position: 11px -190px;
}
.query:hover{
    opacity: 0.6
}
/*tool_item*/
.toolItemSpan {
    float: left;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    padding: 20px 10px 0;
    border-right: 1px #e5e5e5 solid;
    background: url(../../../static/img/tools_new.png) no-repeat;
}
.tool{
    composes:toolItemSpan;
    background-position: 11px 2px;
}
.tool_active{
    composes:toolItemSpan;
    background-position: 10px -62px;
}
.tool:hover{
    opacity: 0.6
}
.fullscreen{
    composes:toolItemSpan;
    border: 0;
    background-position: 11px -255px;
}
.fullscreen:hover{
    opacity: 0.6
}
.more{
    composes:layerItemSpan;
    border: 0;
    background-position: 11px -336px;
}
.more_active{
    composes:layerItemSpan;
    border: 0;
    background-position: 11px -530px;
}
.more:hover{
    opacity: 0.6
}