.example-enter {
    transform: translate3d(100%,0,0);
    transition: transform 0.2s ;
    z-index: 1;
}

.example-enter.example-enter-active {
    transform: translate3d(0,0,0);
}

.example-leave {
    transform: translate3d(0,0,0);
    transition: transform 0.2s ;
}

.example-leave.example-leave-active {
    transform: translate3d(0,0,0);
}